.mainListContainer {
    max-height: 400px;
    width: 100%;
    overflow-y: auto;
}

.list {
    display: flex;
    width: 100%;
}

.nameContainer {
    width: calc(100% - 120px);
    text-align: left;
    padding: 10px;
}

.friendName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subText {
    font-size: 14px;
}

.actionsContainer {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .mainListContainer {
        max-height: 230px;
    }
}